<html>
<head>
<title>INFOMATIONSYSTEMFORWORKMAIL</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (INFOMATIONSYSTEMFORWORKMAIL.psd) -->
<table id="__01" width="600" height="800" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="5">
			<img src="infoimages0/index_01.jpg" width="600" height="126" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="infoimages0/index_02.jpg" width="600" height="22" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<img src="infoimages0/index_03.jpg" width="40" height="445" alt=""></td>
		<td rowspan="5">
			<img src="infoimages0/index_04.jpg" width="24" height="445" alt=""></td>
		<td style="width:471px;height:99px;">
		 <h1>Thank you for registration!</h1>
			 </td>
		<td rowspan="5">
			<img src="infoimages0/index_06.jpg" width="24" height="445" alt=""></td>
		<td rowspan="5">
			<img src="infoimages0/index_07.jpg" width="41" height="445" alt=""></td>
	</tr>
	<tr>
		<td style="width:471px;height:100px;">
		<p>This e-mail is, actiovating your email address.</p>
		<p>Link click, Activation on your e-mail.</p>
			</td>
	</tr>
	<tr>
		<td style="width:471px;height:100px;">
		<p style="text-align:center;"><a href="'.$temp_url.'">Activation e-mail</a></p>
			</td>
	</tr>
	<tr>
		<td style="width:471px;height:100px;">
		 <h3>Enjoy, Today. Thank you.</h3>
			<p style="text-align: right;"><a href="http://www.jcoop.xyz">http://www.jcoop.xyz</a>, Web Admin,</p>
			<p style="text-align:right;"><a>capegon21@gmail.com</a> HYEONIL CHOI</p>
			 </td>
	</tr>
	<tr>
		<td>
			<img src="infoimages0/index_11.jpg" width="471" height="46" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="infoimages0/index_12.jpg" width="600" height="23" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="infoimages0/index_13.jpg" width="600" height="184" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</div>
	</body>
</html>